$thickness: (
	25: 1.375px,
	50: 1.750px,
	75: 2.125px,
	100: 2.500px
);

$utilities: map-merge(
	$utilities,
	(
		"transition": (
			property: transition,
			class: transition,
			responsive: true,
			values: $thickness
		)
	)
);
