$utilities: map-merge(
	$utilities,
	(
		"text-indent": (
			property: text-indent,
			class: text-indent,
			responsive: true,
			values: map-merge($spacers, (auto: auto))
		),

		"text-align": (
			property: text-align,
			class: text,
			responsive: true,
			values: map-merge(
				map-get(
					map-get(
						$utilities,
						"text-align"
					),
					"values"
				),
				(justify: justify)
			)
		)
	)
);
