@use "mixins/overflow.scss";
@use "mixins/transitions.scss";

.required {
	&.before:not(.after)::before {
		content: "*";
		color: var(--bs-danger);
		margin-right: 5px;
	}

	&:not(.before)::after,
	&.after:not(.before)::after {
		content: "*";
		color: var(--bs-danger);
		margin-left: 5px;
	}
}