.box {
	--btn-tmp-height: 50px !important;

	min-height: var(--btn-tmp-height);
	height: var(--btn-tmp-height);
	min-width: var(--btn-tmp-height);
	width: var(--btn-tmp-height);
}

.box-sm {
	@extend .box;
	--btn-tmp-height: 37.5px !important;
}

.popover {
	--bs-popover-max-width: 100% !important;
}
