* {
	transition: 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

/* CUSTOM SWITCH */
.custom-switch.custom-switch-xs .custom-control-label::after,
.custom-switch.custom-switch-xs .custom-control-label::before {
	transform: scale(75%);
}

.custom-switch.custom-switch-sm .custom-control-label::after,
.custom-switch.custom-switch-sm .custom-control-label::before {
	transform: scale(100%);
}

.custom-switch.custom-switch-md .custom-control-label::after,
.custom-switch.custom-switch-md .custom-control-label::before {
	transform: scale(125%);
}

.custom-switch.custom-switch-lg .custom-control-label::after,
.custom-switch.custom-switch-lg .custom-control-label::before {
	transform: scale(150%);
}

.custom-switch.custom-switch-xl .custom-control-label::after,
.custom-switch.custom-switch-xl .custom-control-label::before {
	transform: scale(175%);
}

/* STRING CARD */
.window {
	transition: 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}

.string-card,
.window.minimized {
	opacity: 0;
	transform: translate(-5%, 100%) scale(0, 0);
}

.string-card.show,
.window.maxmized {
	opacity: 1;
	transform: scale(100%, 100%);
}

.window.minimized { 
	transform: translate(50%, 50%) scale(0%);
}
.window.maximized { 
	transform: translate(0%, 0%) scale(100%);
}

/* MINIMIZE & MAXIMIZE */
.minimize, .maximize {
	width: 1.5em;
	height: 1.5em;
	border: 0.125em solid var(--light);
	border-radius: 5px;
	margin: auto 1em;
	position: relative;
	cursor: pointer;
}
.minimize::before {
	content: "_";
	font-size: 1.5em;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -37.5%);
}
.maximize::before {
	content: "\2750";
	font-size: 1em;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -6.5%);
}

/* INSERT ANIMATION */
@keyframes insert-anim {
	from {
		opacity: 0;
		transform: scale(0);
		-o-transform: scale(0);
		-ms-transform: scale(0);
		-moz-transform: scale(0);
		-webkit-transform: scale(0);
	}

	to {
		opacity: 1;
		transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
	}
}

.insert {
	-webkit-animation: 0.5s cubic-bezier(0.5, 0, 0.5, 1) insert-anim;
	-moz-animation: 0.5s cubic-bezier(0.5, 0, 0.5, 1) insert-anim;
	-ms-animation: 0.5s cubic-bezier(0.5, 0, 0.5, 1) insert-anim;
	-o-animation: 0.5s cubic-bezier(0.5, 0, 0.5, 1) insert-anim;
	animation: 0.5s cubic-bezier(0.5, 0, 0.5, 1) insert-anim;
}