/* CUSTOM SCROLLER */
.custom-scrollbar,
.custom-scrollbar.apply-to-all * {
	/* Width */
	&::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgba(128, 128, 128);
		opacity: 0.75;
		border-radius: 10px;
		transition: .5s ease;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: darken(rgb(128, 128, 128), 10%);
		opacity: 0.5;
	}
}
/* CUSTOM SCROLLER END */
