@import "./../../scss/util/tutorial.js/tutorial.scss";
@import "./../../scss/bs-modifiers/base";
@import "bootstrap/scss/popover";

:root {
	--dtr-cell-width: 3.5rem;
	--dtr-cell-height: 1.5rem;
}

.fit-content {
	height: fit-content;
}

.dtr {
	max-width: calc(var(--dtr-cell-width) * 7);
	min-width: calc(var(--dtr-cell-width) * 7);
	width: calc(var(--dtr-cell-width) * 7);

	max-height: calc(var(--dtr-cell-height) * 48);
	min-height: calc(var(--dtr-cell-height) * 48);
	height: calc(var(--dtr-cell-height) * 48);

	display: flex;
	flex-direction: column;

	padding: .25rem 0;

	.dtr-row {
		max-width: calc(var(--dtr-cell-width) * 7);
		min-width: calc(var(--dtr-cell-width) * 7);
		width: calc(var(--dtr-cell-width) * 7);

		max-height: var(--dtr-cell-height);
		min-height: var(--dtr-cell-height);
		height: var(--dtr-cell-height);

		display: flex;
		flex-direction: row;

		padding: 0.25rem 0;

		.dtr-cell {
			max-width: var(--dtr-cell-width);
			min-width: var(--dtr-cell-width);
			width: var(--dtr-cell-width);

			@for $i from 1 through 7 {
				&.dtr-cell-#{$i} {
					max-width: calc(var(--dtr-cell-width) * $i);
					min-width: calc(var(--dtr-cell-width) * $i);
					width: calc(var(--dtr-cell-width) * $i);
				}
			}

			&.holiday {
				font-style: italic;
				background-color: #ffff00;
				color: black;
			}

			@media print {
				&.holiday {
					-webkit-print-color-adjust: exact;
					print-color-adjust: exact;

					font-style: italic !important;
					background-color: #ffff00 !important;
					color: black !important;
				};
			}

			vertical-align: middle;
			text-align: center;

			max-height: var(--dtr-cell-height);
			min-height: var(--dtr-cell-height);
			height: var(--dtr-cell-height);

			&.date {
				text-align: right;
			}

			&.underline {
				position: relative;

				&:after {
					content: "";
					position: absolute;

					left: .5rem;
					bottom: 0;

					width: calc(100% - 1rem);
					border-bottom: 2px solid #343a40;
				}
			}

			.attendance-toggle {
				display: none;

				padding: 0;
				margin-left: auto;
				margin-right: auto;

				width: 100%;
				border: none;
				background-color: transparent;

				--bs-btn-hover-color: var(--bs-dark);
			}

			@media print {
				.attendance-toggle {
					display: none !important;
				}
			}
		}

		&.has-secondary, &.has-secondary > * {
			font-size: small !important;
		}
	}
}

#printContainer {
	width: 790px;
	min-width: 790px;
	max-width: 790px;

	size: A4 portrait;
	padding: 0;
	display: none;

	&.print-enabled {
		display: flex !important;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		--dtr-cell-width: calc(3.5rem * .90625);
		--dtr-cell-height: calc(1.5rem * .8125);

		& * {
			font-size: .8125rem;
		}

		& .underline {
			border-color: var(--bs-black);
		}

		& > .row {
			& > * {
				display: flex;
				padding: 24.675mm 0;
			}

			& > *:nth-child(odd) {
				justify-content: right;
			}

			& > *:nth-child(even) {
				justify-content: left;
				break-after: page;
			}
		}
	}
}

#generatedDTR {
	.attendance-toggle {
		display: initial;
	}
}

.print-enabled {
	display: none !important;
}

.dtr-tooltip {
	--bs-tooltip-bg: var(--bs-dark);
	--bs-tooltip-color: var(--bs-white);
}
