#vs5-tutorial-backdrop {
	position: fixed;
    z-index: 9998;
	top: 0;
    left: 0;

    width: 100% !important;
    height: 100% !important;

    display: flex;
    cursor: pointer;
    background-color: rgb(0, 0, 0, .5);

	#vs5-tutorial-overlay {
		@extend #vs5-tutorial-backdrop;

		z-index: 10000;
		background-color: transparent;
	}

	.vs5-tutorial-text-container {
		margin: auto auto 1rem 1rem;

		.vs5-tutorial-text {
			display: block;
		}
	}
}

[data-vs5-tutorial-target] {
	position: relative;
	z-index: 9999 !important;
	border: 2.5px red dashed !important;
	overflow: hidden !important;
}
